<div class="sidebar-wrapper it-line-right-side" style="margin: 1em">
  <div class="sidebar-linklist-wrapper">
    <div class="link-list-wrapper">
      <h3 class="no_toc">Filter</h3>
      <form class="row g-3" [formGroup]="colorForm" (change)="selectListFiltered()">
        <div class="col-auto">
          <input type="text" formControlName="productName" placeholder="Filter by name (min 3)">
        </div>
   <!--      <div class="col-md-2">
          <label for="input" class="form-label">Select the color of beer you want:</label>
          <select class="form-select" (change)="selectColor()" name="col" formControlName="color">            
            <option *ngFor="let col of colors" [value]="col">{{col}}</option>          
          </select>
        </div> -->
      </form>
    </div>
  </div>
</div>
<div class="row" style="margin: 2em; float:right;">
  <div class="flex-center">
    <h1>Beer List:</h1>
  </div>
  <div class="card-group" *ngFor="let product of filteredProducts | beerFilter: colorForm?.get('productName')?.value"
    style="margin: 1em; width: 480px; height: 100px; margin-block-end: 25em; ">
    <ul class="list-group list-group-flush"><span class="border border-light">
        <li class="list-group-item"> <img src={{product.imageUrl}} class="rounded mx-auto d-block" width="100px"
            height="100px">
          <br>
          <h5>{{product.productName}}
            <button type="button" class="btn btn-primary btn-sm" style="float: right;" routerLink='/cart'>ACQUISTA
              <i class="fa fa-cart-arrow-down"></i></button>
          </h5>
        </li>
        <li class="list-group-item" style="font-size:x-small">Description: {{product.description}}</li>
        <li class="list-group-item" style="font-size:small">Origin: {{product.origin}} </li>
        <li class="list-group-item" style="font-size:small">Type: {{product.type}}</li>
        <li class="list-group-item" style="font-size:small">Color: {{product.color}}</li>
        <li class="list-group-item" style="font-size:small">Price: {{product.price}}</li>
        <li class="list-group-item" style="font-size:small">Rate: {{product.rate}}</li>
      </span></ul>
  </div>
</div>