<div class="row row-cols-1 row-cols-md-3 g-4" style="opacity: 0.8;">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Namegit  </h3>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Provenience: </li>
        <li class="list-group-item">Type: </li>
        <li class="list-group-item">Origin: </li>
        <li class="list-group-item">Price: </li>
        <li class="list-group-item">Rate: </li>
      </ul>
      <div class="card-body">
        <a class="card-link"routerLink='/cart'><img src="https://img.icons8.com/office/40/000000/shopping-cart.png" /></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card ">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Provenience: </li>
        <li class="list-group-item">Type: </li>
        <li class="list-group-item">Origin: </li>
        <li class="list-group-item">Price: </li>
        <li class="list-group-item">Rate: </li>      
      </ul>
      <div class="card-body">
        <a class="card-link"routerLink='/cart'><img src="https://img.icons8.com/office/40/000000/shopping-cart.png" /></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card ">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Provenience: </li>
        <li class="list-group-item">Type: </li>
        <li class="list-group-item">Origin: </li>
        <li class="list-group-item">Price: </li>
        <li class="list-group-item">Rate: </li>
      </ul>
      <div class="card-body">
        <a class="card-link"routerLink='/cart'><img src="https://img.icons8.com/office/40/000000/shopping-cart.png" /></a>
      </div>
    </div>
  </div>
</div>