<!-- <div class='card'>
    <div class='card-header'>
        <h5 class="card-title">{{pageTitle + ' ' + contact?.firstName + ' ' +contact?.lastName}}</h5>
    </div>
    <div class='card-body' *ngIf='contact'>
        <div class="row">
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>First Name: </div>
                    <div class='col-md-8'>{{contact.firstName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Last Name: </div>
                    <div class='col-md-8'>{{contact.lastName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Email: </div>
                    <div class='col-md-8'>{{contact.Email}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Phone Number: </div>
                    <div class='col-md-8'>{{contact.PhoneNumber}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Date of birth: </div>
                    <div class='col-md-8'>{{contact.DateOfBirth}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Address: </div>
                    <div class='col-md-8'>{{contact.Address}}</div>
                </div>     
            </div>
        </div>
    </div>
    <div class='card-footer'>
        <button class='btn btn-outline-secondary' style='width:80px' (click)='onBack()'>
            <i class='fa fa-chevron-left'></i> Back
        </button>
    </div>
</div> -->