<section class="view intro">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="white-text">
                <br><br><br><br><br>
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s" style="color:white">{{pageTitle+ ' ' + user?.firstName + ' ' +user?.lastName}} </h2>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s" style="color:white">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s" style="color:white">{{description}}</h6>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>